:root {
  --white-smoke: #ecf0f1;
  --dark-khaki: #a8d069;
  --dark-slate-gray-2: #404047;
  --medium-sea-green: #30ad64;
  --steel-blue: #3b99d9;
  --light-slate-gray: #8e8e9c;
  --light-sea-green-2: #20ac99;
  --firebrick: #bf3a30;
  --dodger-blue: #2e9dff;
  --indian-red: #cf404d;
  --salmon: #fd7072;
  --tan: #d39f9a;
  --brown: #822e50;
  --cadet-blue: #668cad;
  --dim-gray: #735260;
  --khaki: #face6a;
  --goldenrod: #e2a62b;
  --pale-turquoise: #bfe0ff;
  --steel-blue-2: #2e80b6;
  --dim-gray-3: #676770;
  --light-sky-blue: #69b9ff;
  --silver: #bec3c7;
  --light-sea-green: #25ccbf;
  --indian-red-2: #af4173;
  --black: #192024;
  --sandy-brown-2: #e4b962;
  --tomato: #e64c40;
  --salmon-2: #fc7d64;
  --white-smoke-3: #edeff2;
  --white-smoke-2: #f0f0f0;
  --dim-gray-2: #49647b;
  --sandy-brown: #f8c740;
  --dark-slate-gray: #2d3e4f;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  color: #676770;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}

h3 {
  color: #676770;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  color: #676770;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

h6 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

.button {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #112f7b;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s;
  display: inline-block;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.button.tab {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #92a0ad;
  margin-left: 8px;
  margin-right: 8px;
  transition: background-color .3s;
}

.button.tab:hover {
  background-color: #112f7b;
}

.button.tab.w--current {
  background-color: #0b7c06;
}

.navigation-link {
  color: #676770;
  transition: all .3s ease-in-out;
}

.navigation-link:hover {
  color: #2e9dff;
}

.navigation-bar {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.brand-text {
  color: #69b9ff;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 11px;
  padding-right: 0;
  font-family: Open Sans, sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 25px;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.section {
  text-align: center;
  background-color: #fff;
  padding: 80px 10px;
  position: relative;
}

.section.accent {
  background-color: #353d4d;
}

.white-box {
  text-align: center;
  background-color: #fff;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  padding: 15px;
  transition: opacity .2s;
}

.white-box.transparent {
  background-color: #0000;
  border-style: none;
  margin-bottom: 0;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  color: #eaeff3;
  text-align: center;
  background-image: url('../images/Hero_image.jpg');
  background-position: 50%;
  background-size: cover;
  border-bottom: 4px solid #112f7b;
  padding-top: 195px;
  padding-bottom: 195px;
}

.hero-heading {
  color: #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

.hero-subheading {
  color: #112f7b;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
}

.hollow-button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 30px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: none;
  transition: background-color .3s, border .3s, color .3s;
  display: inline-block;
}

.hollow-button:hover {
  color: #2e9dff;
  border-color: #2e9dff;
}

.hollow-button.all-caps {
  text-transform: uppercase;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 16px;
}

.section-heading.centered {
  color: #000;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.section-heading.centered.white {
  color: var(--white-smoke);
  margin-bottom: 87px;
}

.section-subheading.center {
  color: #8e8e9c;
  text-align: center;
  letter-spacing: 3px;
  text-indent: 0;
  text-transform: uppercase;
  column-count: auto;
  white-space: normal;
  word-break: normal;
  margin-bottom: 87px;
  font-size: 18px;
  font-weight: 400;
}

.section-subheading.center.off-white {
  color: #e8e8e8;
  padding-bottom: 0;
}

.section-title-group {
  margin-bottom: -42px;
}

.form-field {
  border: 0 solid #000;
  border-radius: 3px;
  height: 45px;
  margin-bottom: 17px;
  box-shadow: 0 0 0 1px #4040474d;
}

.form-field.text-area {
  height: 110px;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  text-align: center;
  background-color: #383838;
  border-top: 1px solid #dbdbdb;
}

.footer-text {
  color: #9e9e9e;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.grid-image {
  background-color: #0b7c06;
  border: 10px solid #fff;
  border-radius: 50%;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  display: block;
  box-shadow: 0 0 0 1px #0b7c06;
}

.info-icon {
  float: left;
}

.footer-link {
  color: #668cad;
  border-bottom: 1px solid #d5d5e0;
  margin-bottom: 6px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  display: block;
}

.footer-link:hover {
  color: #008cffd6;
}

.footer-link.with-icon {
  margin-left: 30px;
}

.tab-menu {
  text-align: center;
  margin-bottom: 40px;
}

.tabs-wrapper {
  text-align: center;
}

.fullwidth-image {
  background-color: #fff;
  border-radius: 10px 10px 50px 50px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 27px;
}

.white-text {
  color: #fff;
  margin-top: 128px;
  margin-bottom: -68px;
  padding-right: 0;
  font-size: 20px;
  font-weight: 700;
}

.form {
  margin-top: 40px;
}

.spc {
  padding-right: 0;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.image {
  text-align: left;
  padding-left: 10px;
  font-size: 5px;
  line-height: 10px;
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  position: static;
  top: 140px;
  bottom: 0;
}

.container-2 {
  text-align: center;
}

.heading, .heading-2, .heading-3 {
  color: #112f7b;
}

.button-2 {
  letter-spacing: 2px;
  background-color: #92a0ad;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 57px;
  margin-right: 35px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.button-2:hover {
  background-color: #112f7b;
}

.button-3 {
  letter-spacing: 2px;
  background-color: #0b7c06;
  border-radius: 20px;
  margin-right: 44px;
  padding: 12px 30px;
  font-size: 16px;
  line-height: 21px;
}

.button-3:hover {
  background-color: #82bf37;
}

.button-3:active {
  mix-blend-mode: darken;
  background-color: #82bf37;
}

.div-block {
  padding-top: 0;
}

.paragraph {
  color: #fff;
  margin-top: 24px;
  margin-bottom: 87px;
  font-size: 20px;
}

.container-3 {
  aspect-ratio: auto;
}

.columns {
  margin-bottom: 71px;
}

.columns-copy {
  margin-bottom: 0;
}

.white-text-copy {
  color: #82bf37;
  letter-spacing: 5px;
  margin-top: 128px;
  margin-bottom: -68px;
  padding-right: 0;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .navigation-link {
    color: #ffffff85;
  }

  .navigation-link.w--current {
    color: #fff;
  }

  .hamburger-button.w--open, .navigation-menu {
    background-color: #3b99d9;
  }

  .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
  }

  .grid-image {
    width: 50%;
    padding: 15px;
  }

  .white-text, .white-text-copy, .white-text-copy, .white-text-copy {
    margin-top: 87px;
    padding-right: 0;
  }

  .white-text-copy {
    letter-spacing: 2px;
    margin-top: 87px;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .button.full-width {
    margin-left: auto;
    margin-right: auto;
  }

  .button.tab {
    font-size: 12px;
  }

  .white-box {
    margin-bottom: 30px;
  }

  .hero-section.centered {
    padding-top: 119px;
    padding-bottom: 119px;
  }

  .hero-heading {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero-subheading {
    font-size: 18px;
  }

  .form-field.text-area {
    display: block;
  }

  .grid-image {
    width: 20%;
    padding: 20px;
  }

  .fullwidth-image {
    margin-top: 134px;
    margin-bottom: 21px;
  }

  .white-text {
    margin-top: 108px;
  }

  .spc {
    margin-bottom: 30px;
  }

  .button-2 {
    margin-bottom: 27px;
    margin-right: 0;
  }

  .button-3 {
    margin-top: 15px;
    margin-right: 0;
  }

  .white-text-copy {
    margin-top: 108px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }

  .white-box.transparent {
    padding-bottom: 4px;
  }

  .hero-section.centered {
    object-fit: fill;
    padding-top: 197px;
    padding-bottom: 60px;
    position: static;
  }

  .section-heading.centered {
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 5px;
    width: auto;
    min-width: 0;
    margin-bottom: 53px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    position: static;
    overflow: visible;
  }

  .section-subheading.center {
    line-height: 30px;
  }

  .section-title-group {
    aspect-ratio: auto;
  }

  .grid-image {
    width: 35%;
  }

  .fullwidth-image {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 200px;
  }

  .white-text {
    margin-top: 111px;
    font-size: 10px;
  }

  .button-2 {
    margin-left: 2px;
    margin-right: 2px;
    padding-right: 30px;
  }

  .button-3 {
    margin-bottom: 36px;
    margin-right: 0;
  }

  .paragraph {
    margin-top: 33px;
  }

  .white-text-copy {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 111px;
    font-size: 10px;
  }

  .bold-text {
    overflow-wrap: break-word;
    width: auto;
    font-size: 24px;
    font-weight: 700;
    overflow: visible;
  }
}


